/* front colors */
$base-font-size: 15px;
$base-font-color: black;
$base-font-family: "宋体", "sans-serif";
$base-line-height: 1.7em;

$header-font-family : "黑体", "sans-serif";
$content-font-family: "宋体", "sans-serif";


/* background colors*/
$primary-color:#00aff0;
$secondary-color:#7fba00;
$light-color:#e4eef2;
$dark-color:#2b5464;


