/* carousel */

.carousel {
  margin-bottom:20px;
}

.carousel img{
  padding :3px;
  @include  add-border(1px, $dark-color, all)
}

.tab-pane{
  padding:20px 10px;
  @include add-background($primary-color);
}

.tab-primary .nav-tabs > li.active > a, .tab-primary .nav-tabs > li.active > a:hover,
.tab-primary .nav-tabs > li.active > a:focus{
  @include add-background($primary-color);
}